<mat-card>
  <h2 class="mat-elevation-z1">Gallery</h2>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">

      <div fxFlex="25%">
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/1.jpg">
          <mat-card-actions>
            <label>Me and Ly-Ann</label>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="25%">
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/2.jpg">
          <mat-card-actions>
            <label>With friends</label>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/3.jpg">
          <mat-card-actions>
            <label>Me and Ly-Ann</label>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/4.jpg">
          <mat-card-actions>
            <label>Me and Ly-Ann</label>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/5.jpg">
          <mat-card-actions>
            <label>Myself</label>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/6.jpg">
          <mat-card-actions>
            <label>Myself</label>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/7.jpg">
          <mat-card-actions>
            <label>Myself</label>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/8.jpg">
          <mat-card-actions>
            <label>Me and Hannah</label>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

</mat-card>